body {
    overflow-x : hidden;
}

a:hover {
    text-decoration: none;
}

.height_spacing {
    height: 61.89px;
}

.navbar {
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
}

.navbar-dark .form-inline .nav-link{
    color: #ffffff;
}

.navbar-dark .dropdown-menu {
    background-color: #6c757d;
}

.navbar-dark .dropdown-menu .dropdown-item {
    color: #e6e6e6;
}

.navbar-dark .dropdown-menu .dropdown-item.active {
    background-color: transparent;
}

.navbar-dark .dropdown-menu a.dropdown-item:hover {
    background-color: transparent;
    color: white;
}

.artist_outer {
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.artist_content {
    position: absolute;
    color: white;
    text-shadow: 4px 4px 10px black;
    z-index: 2;
    width: 35%;
    text-align: center;
}



.artist_content.first {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}

.artist_content_name {
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.artist_content_description {
    font-size: 20px;
}

.artist_content_dateTime {
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    width: 100%;
}

.artist_register_btn {
    cursor: pointer;
    color: white;
    background-color: #382fbd;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 10px;
    transition: background-color .2s;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: none;
}

.artist_register_btn:hover {
    background-color: #2e269e;
    transition: background-color .2s;
}

.artist_img_portrait.first {
    background-image: url("../Asset/cyleo_portrait.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 103vh;
    width: 103%;
    position: absolute;
    top: -2%;
    left: -3%;
    z-index: 1;
}

.artist_img_bg.first {
    background-image: url("../Asset/cyleo_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 103vh;
    width: 103%;
    position: absolute;
    top: -2%;
    left: -3%;
}

.artist_content.second {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.artist_img_portrait.second {
    background-image: url("../Asset/aidennevelyn_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 102vh;
    width: 102%;
    position: absolute;
    top: -8%;
    left: -1%;
    z-index: 1;
}

.artist_content.third {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}

.artist_img_portrait.third {
    background-image: url("../Asset/rei_portrait.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 105vh;
    width: 102%;
    position: absolute;
    top: -3%;
    left: -1%;
    z-index: 1;
}

.artist_img_bg.third {
    background-image: url("../Asset/rei_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 105vh;
    width: 102%;
    position: absolute;
    top: -3%;
    left: -1%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #nav_outer #nav_inner_left a {
        padding-right: 50px;
    }
    .artist_content {
        width: 45%;
    }
}

@media only screen and (max-width: 768px) {
    #nav_outer #nav_inner_left a {
        padding-right: 30px;
    }
    .artist_content {
        width: 90%;
        left: 0 !important;
        right: 0 !important;
        margin: auto !important;
    }

    .artist_img_portrait.first, .artist_img_bg.first {

    }
}

.jumbotron {
    background-image: url("../Asset/malaysia_bg.jpg");
    background-size: cover;
}

.card.home:hover {
    filter: brightness(1.05);
}


